global:
  scrape_interval: "2s"
rule_files:
  - 'decryption_failure_rule.yml'
scrape_configs:
  - job_name: 'master-node'
    static_configs:
      - targets: ['master-node:50000']
    metrics_path: '/master-node/monitor/prometheus'
  - job_name: 'encryption-nodes'
    static_configs:
      - targets: ['en-node1:8081']
      - targets: ['en-node2:8082']
      - targets: ['en-node3:8083']
    metrics_path: '/encryption-node/monitor/prometheus'

