<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGGING_LEVEL" value="debug" />

    <appender name="common" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="requestAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %X{request-id} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name = "webapp" level= "${LOGGING_LEVEL}" additivity="false">
        <appender-ref ref="requestAppender"/>
    </logger>

    <logger name = "webapp.ServletServer" level="${LOGGING_LEVEL}" additivity="false">
        <appender-ref ref="common"/>
    </logger>

    <root level="error">
        <appender-ref ref="common"/>
    </root>

</configuration>